@media screen and (max-width: 600px) {
    .fex{
        display: block !important;
        margin-right: -2rem !important;
    }
    .m{
      margin-top: 4rem !important;
    }
  }
  .pointer{
    cursor: pointer !important;
  }
.spe{
    animation-duration: 1s !important;
}  
.radius:hover{
    border-radius: 0 !important;
    transition: 0.1s;
    opacity: 0.8 !important;
}
.fex{
  margin-bottom: -3rem !important;
}