.center{
    width: 55rem;
    margin-right: 9rem;
    justify-content: center !important;
}
.ho{
    margin-top: 0.7rem;
    height: 20px;
    width: 30px;
}
.nat{
    width: 50% !important;
}
@media screen and (max-width: 600px) {
    .center{
        width: 5rem;
        margin-right: 0rem;
        justify-content: center !important;
    }
  }
  @media screen and (max-width: 1300px) and (min-width: 480px) {
    .center{
        width: 35rem;
        margin-right: 9rem;
        justify-content: center !important;
        align-items: center;
    }
  }